base_width = 750px
base_font_size = 75px

html {
  font-size ((base_font_size / base_width) * 100) vw

  @media screen and (max-width: 320px) {
    // stylus下这里有个问题，这里@media里的注释会被stylus移除掉
    font-size 32px
  }

  @media screen and (min-width: 540px) {
    font-size 54px
  }
}
